<p align="center">
<img src="https://github.com/datacamp/r-live-training-template/blob/master/assets/datacamp.svg?raw=True" alt = "DataCamp icon" width="50%">
<br>
<h1 align="center">Cleaning Data in R Live Training</h1>
</p>
<br>


Welcome to this hands-on training where you'll identify issues in a dataset and clean it from start to finish using R. It's often said that data scientists spend 80% of their time cleaning and manipulating data and only about 20% of their time analyzing it, so cleaning data is an important skill to master!

In this session, you will:

- Examine a dataset and identify its problem areas, and what needs to be done to fix them.
-Convert between data types to make analysis easier.
- Correct inconsistencies in categorical data.
- Deal with missing data.
- Perform data validation to ensure every value makes sense.

## **The Dataset**

The dataset we'll use is a CSV file named `nyc_airbnb.csv`, which contains data on [*Airbnb*](https://www.airbnb.com/) listings in New York City. It contains the following columns:

- `listing_id`: The unique identifier for a listing
- `name`: The description used on the listing
- `host_id`: Unique identifier for a host
- `host_name`: Name of host
- `nbhood_full`: Name of borough and neighborhood
- `coordinates`: Coordinates of listing _(latitude, longitude)_
- `room_type`: Type of room 
- `price`: Price per night for listing
- `nb_reviews`: Number of reviews received 
- `last_review`: Date of last review
- `reviews_per_month`: Average number of reviews per month
- `availability_365`: Number of days available per year
- `avg_rating`: Average rating (from 0 to 5)
- `nb_stays`: Total number of stays thus far
- `pct_5_stars`: Percent of reviews that were 5-stars
- `listing_added`: Date when listing was added

In [0]:
# Install packages
install.packages("dplyr")
install.packages("stringr")
install.packages("ggplot2")

In [6]:
# Load packages
library(dplyr)
library(stringr)
library(ggplot2)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [0]:
# Load dataset
airbnb <- read.csv("https://raw.githubusercontent.com/datacamp/cleaning-data-in-r-live-training/master/assets/nyc_airbnb.csv")

## Diagnosing data cleaning problems

We'll need to get a good look at the data frame in order to identify any problems that may cause issues during an analysis. There are a variety of functions (both from base R and `dplyr`) that can help us with this:

1. `head()` to look at the first few rows of the data
2. `glimpse()` to get a summary of the variables' data types
3. `summary()` to compute summary statistics of each variable and display the number of missing values
4. `duplicated()` to find duplicates

In [0]:
# What does the data look like?
head(airbnb)

In [0]:
# Inspect data types
glimpse(airbnb)

In [3]:
# Examine summary statistics
summary(airbnb)

       X           listing_id                                  name
 Min.   :    1   Min.   :    3831                                :   5
 1st Qu.: 2506   1st Qu.: 9674772   Beautiful Brooklyn Brownstone:   5
 Median : 5010   Median :20070296   New york Multi-unit building :   5
 Mean   : 5010   Mean   :19276341   Hillside Hotel               :   4
 3rd Qu.: 7514   3rd Qu.:29338637   Home away from home          :   4
 Max.   :10019   Max.   :36487245   Brooklyn Apartment           :   3
                                    (Other)                      :9993
    host_id                 host_name                          nbhood_full
 Min.   :     2787   Michael     :  89   Brooklyn, Bedford-Stuyvesant: 777
 1st Qu.:  7910880   David       :  85   Brooklyn, Williamsburg      : 766
 Median : 31651673   Sonder (NYC):  66   Manhattan, Harlem           : 541
 Mean   : 67959227   Alex        :  52   Brooklyn, Bushwick          : 502
 3rd Qu.:107434423   Daniel      :  50   Manhattan, Hell's Kitchen   : 405
 Max.   :274103383   John        :  47   Manhattan, Upper West Side  : 395
                     (Other)     :9630   (Other)                     :6633
                         coordinates                   room_type
 (40.59211, -73.94126999999997):    2      Shared room      :  71
 (40.66086, -73.96159)         :    2   Entire home/apt     :5120
 (40.67359, -73.95812)         :    2   home                :  66
 (40.682, -73.95681)           :    2   Private             :  89
 (40.68842, -73.77677)         :    2   Private room        :4487
 (40.69336, -73.94453)         :    2   PRIVATE ROOM        :  31
 (Other)                       :10007   Shared room         : 155
     price        nb_reviews         last_review   reviews_per_month
 $150   : 416   Min.   :  0.00             :2075   Min.   : 0.010
 $100   : 395   1st Qu.:  1.00   2019-06-23: 283   1st Qu.: 0.200
 $200   : 292   Median :  5.00   2019-07-01: 273   Median : 0.710
 $50    : 287   Mean   : 22.46   2019-06-30: 267   Mean   : 1.354
 $60    : 287   3rd Qu.: 22.00   2019-06-24: 177   3rd Qu.: 2.000
 $75    : 281   Max.   :510.00   2019-06-22: 146   Max.   :16.220
 (Other):8061                    (Other)   :6798   NA's   :2075
 availability_365   avg_rating       nb_stays       pct_5_stars
 Min.   :  0.0    Min.   :3.001   Min.   :  1.20   Min.   :0.6000
 1st Qu.:  0.0    1st Qu.:3.520   1st Qu.:  3.60   1st Qu.:0.6556
 Median : 44.0    Median :4.028   Median : 10.80   Median :0.7098
 Mean   :112.3    Mean   :4.014   Mean   : 33.99   Mean   :0.7186
 3rd Qu.:226.0    3rd Qu.:4.516   3rd Qu.: 38.40   3rd Qu.:0.7640
 Max.   :365.0    Max.   :5.181   Max.   :612.00   Max.   :0.9503
                  NA's   :2075    NA's   :2075     NA's   :2075
    listing_added
 2018-12-18: 283
 2018-12-26: 273
 2018-12-25: 267
 2018-12-19: 177
 2018-12-17: 146
 2019-01-01: 146
 (Other)   :8727

In [8]:
# Find data with duplicated listing_id
airbnb %>%
  filter(duplicated(listing_id))

   X    listing_id name                                               host_id
1  2256  7319856   450ft Square Studio in Gramercy NY                  11773680
2  3008 17861841   THE CREATIVE COZY ROOM                              47591528
3  3341 35646737   Private Cabins @ Chelsea, Manhattan                117365574
4  3431 15027024   Newly renovated 1bd on lively & historic St Marks    8344620
5  4188  4244242   Best Bedroom in Bedstuy/Bushwick. Ensuite bathroom  22023014
6  5078 33831116   Sonder | Stock Exchange | Collected 1BR + Laundry  219517861
7  5398 16518377   East Village 1BR Apt with all the amenities          3012457
8  6069 22014840   Sunny Bedroom Only 1 Metro Stop to Manhattan        32093643
9  6086 33346762   2BR Apartment in Brownstone Brooklyn!               50321289
10 6133 23990868   1 Bedroom in Luxury Building                         4447548
11 6314 32610834   Manhattan by the water!                             12132369
12 6439 19477677   Huge sunny room next to subway!                     25038748
13 6563   253806   Loft Suite @ The Box House Hotel                      417504
14 6833 21106251   Private Bedroom in Great Brooklyn Apartment         25354313
15 7770 26554879   East Village/Union Square Flat                      17400431
16 7934  9078222   Prospect Park 3 bdrm, Sleeps 8 (#2)                 47219962
17 8700  2044392   The heart of Williamsburg 2 bedroom                   620218
18 9266 35801208   Comfy 2 bedroom Close To Manhattan                 256911412
19 9323 31470004   Private bedroom/Bathroom in a 2 bedroom apartment   71241932
20 9426 29844951   Cozy Home In Queens                                 49946447
   host_name           nbhood_full
1  Adam                Manhattan, Kips Bay
2  Janessa             Brooklyn, Sheepshead Bay
3  Maria               Manhattan, Chelsea
4  Ethan               Manhattan, East Village
5  BrooklynSleeps      Brooklyn, Bedford-Stuyvesant
6  Sonder (NYC)        Manhattan, Financial District
7  Cody                Manhattan, East Village
8  Scarlett            Manhattan, Roosevelt Island
9  Avery               Brooklyn, Bedford-Stuyvesant
10 Grace               Brooklyn, Bedford-Stuyvesant
11 Omar                Manhattan, Kips Bay
12 Justin              Manhattan, Harlem
13 The Box House Hotel Brooklyn, Greenpoint
14 Tommy               Brooklyn, Crown Heights
15 Bob                 Manhattan, East Village
16 Babajide            Brooklyn, Prospect-Lefferts Gardens
17 Sarah               Brooklyn, Williamsburg
18 Taylor              Brooklyn, Williamsburg
19 Max                 Manhattan, East Village
20 Rah                 Queens, Jamaica
   coordinates                    room_type       price nb_reviews last_review
1  (40.73813, -73.98098)          Entire home/apt $280    4        2016-05-22
2  (40.59211, -73.94126999999997) Private room    $99    13        2019-05-23
3  (40.74946, -73.99627)          Private room    $85     1        2019-06-22
4  (40.72693, -73.98385)          Entire home/apt $180   10        2018-12-31
5  (40.69496, -73.93949)          Private room    $73   110        2019-06-23
6  (40.70621, -74.01199)          Entire home/apt $229    5        2019-06-15
7  (40.7235, -73.97963)           Entire home/apt $200    3        2018-07-10
8  (40.76211, -73.94887)          Private room    $70     2        2018-01-07
9  (40.682, -73.95681)            Entire home/apt $140    4        2019-06-14
10 (40.69336, -73.94453)          Entire home/apt $88     8        2019-06-16
11 (40.73767, -73.97384)          Entire home/apt $150    0
12 (40.82119, -73.95583)          Private room    $70    11        2019-05-11
13 (40.73652, -73.95236)          Entire home/apt $199   43        2019-07-02
14 (40.67359, -73.95812)          Private room    $45     9        2019-06-22
15 (40.73177, -73.98691)          Entire home/apt $179   32        2019-06-26
16 (40.66086, -73.96159)          Entire home/apt $150  123        2019-07-01
17 (40.71257, -73.96149)          Entire home/apt $245    0
18 (40.70469, -73.9369)           Entire home/apt $101    0
19 (40.72544, -73.97818000000002) Private room    $2500   0
20 (40.68842, -73.77677)          Private room    $50     1        2019-03-19
   reviews_per_month availability_365 avg_rating nb_stays pct_5_stars
1  0.09              225              3.903764     4.8    0.7563810
2  0.52               82              4.806590    15.6    0.9374216
3  1.00              261              4.951714     1.2    0.6713879
4  0.30                0              3.869729    12.0    0.7725126
5  1.96              323              4.962314   132.0    0.8098820
6  1.92              350              4.026379     6.0    0.6017374
7  0.16                0              4.676670     3.6    0.6944427
8  0.11                0              4.024336     2.4    0.7194262
9  1.58                4              4.013393     4.8    0.7195908
10 0.56               18              4.164548     9.6    0.6401060
11   NA                9                    NA      NA           NA
12 0.45                0              3.074890    13.2    0.6316186
13 0.47               60              4.620238    51.6    0.8610863
14 0.43                0              3.779114    10.8    0.7381907
15 2.92               12              3.125513    38.4    0.6317645
16 2.74              263              3.466881   147.6    0.7381911
17   NA                0                    NA      NA           NA
18   NA               27                    NA      NA           NA
19   NA               90                    NA      NA           NA
20 0.27              311              4.792923     1.2    0.7012322
   listing_added
1  2015-11-17
2  2018-11-17
3  2018-12-17
4  2018-06-27
5  2018-12-18
6  2018-12-10
7  2018-01-04
8  2017-07-04
9  2018-12-09
10 2018-12-11
11 2018-06-28
12 2018-11-05
13 2018-12-27
14 2018-12-17
15 2018-12-21
16 2018-12-26
17 2018-08-09
18 2018-05-03
19 2018-03-12
20 2018-09-13